body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background-color: #fff;
}

.profile img{
    width: 200px;
    border-radius: 10%;
    border: #333 solid;
    margin-right: 1rem;
}

.profile-info {
    text-align: left;
}


